{% extends "base.html.twig" %}

{% block Content %}

    <div class="row">
        <div class="col-12">
            <h1>Publishers</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <a href="/Publisher/Create" class="btn btn-success">New Publisher</a>
        </div>
    </div>

    <div class="row m-2">
        {% for publisher in publishers %}
            <div class="col-3 text-center px-3 mb-4">
                <a href="/Publisher/Update/{{ publisher.id|e }}" class="text-reset text-decoration-none">
                    <div class="h-100 bg-light shadow d-flex flex-column p-1">
                        {{ publisher.name|e }}
                        {#<img class="mx-auto img-fluid img-thumbnail" src="{{ asset('uploads/covers/' ~ book.CoverImageFile)|e }}" width=200>#}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}