{% extends "base.html.twig" %}

{% block Content %}

    <div class="row">
        <div class="col-12">
            <h1>{{ delete ? "Update Book" : "New Book" }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            {% if book is defined %}
                <img src="{{ asset('uploads/covers/' ~ book.CoverImageFile) }}" width=200 class="img-fluid">
            {% endif %}
        </div>
        <div class="col-4">
            {{ form(form) }}

            {% if delete %}
                <a/ href="/Book/Delete/{{book.id}}" class="btn btn-danger" >Delete</a>
            {% endif %}
        </div>
    </div>

{% endblock %}