{% extends "base.html.twig" %}

{% block Content %}

    <div class='row'>
        <div class=''>
            <h1>Delete {{ type }}?</h1>
            <p>Are you sure you want to delete this {{ type }}?</p>
                        {{ form(form) }}
        </div>
    </div>

{% endblock %}